@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.s-header {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 40px;
  margin-top: 72px; }
  .s-header h1 {
    font-size: 1.5em;
    font-weight: 600; }
  .s-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px auto; }
    .s-header .container p:first-child {
      text-transform: uppercase; }
  .s-header a {
    display: block;
    padding: 10px 30px;
    color: #fff;
    background-color: #252525;
    text-transform: uppercase; }
    .s-header a:hover {
      color: #fff;
      background-color: #929292; }

body {
  font-size: 16px;
  line-height: 1.5; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3,
i {
  font-size: 1.25em; }

.strong {
  font-weight: 600; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #252525;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh; }

a {
  text-decoration: none;
  color: #252525;
  transition: 0.2s linear; }
  a:hover {
    color: #929292; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 0.625em;
  padding-right: 0.625em; }
  @media (min-width: 1500px) {
    .container {
      max-width: 1400px; } }

.top {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  justify-content: space-evenly;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid #efefef;
  z-index: 1;
  background-color: white; }
  .top a {
    text-decoration: none; }
    .top a img {
      height: 36px; }
  @media (min-width: 1100px) {
    .top {
      justify-content: space-between;
      padding: 0 80px; } }

.search {
  background-color: #efefef;
  position: fixed;
  top: 72px;
  width: 100%;
  padding: 20px;
  z-index: 2;
  border-bottom: 4px solid #fff;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s linear; }
  .search.active {
    transform: scale(1);
    opacity: 1; }
  .search .s-bar {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .search .s-bar .s-input {
      flex-basis: 100%;
      background: transparent;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid #252525;
      font-family: 'Open Sans', sans-serif;
      padding: 10px;
      text-align: center;
      outline: none; }
    .search .s-bar a {
      display: block;
      text-align: center;
      border-radius: 10px;
      color: #252525;
      margin-left: 5px;
      padding: 5px 10px; }
      .search .s-bar a:hover {
        color: #929292; }

nav {
  display: none; }
  @media (min-width: 1100px) {
    nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 92px; }
      nav a {
        text-transform: uppercase;
        font-weight: 400; } }

.burger {
  position: fixed;
  z-index: 4;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #252525;
  padding: 15px 20px;
  color: white;
  text-align: center;
  cursor: pointer; }
  @media (min-width: 1100px) {
    .burger {
      top: 0;
      left: 0;
      transform: translate(0);
      background-color: transparent;
      color: #252525;
      width: auto;
      padding: 0; }
      .burger:hover {
        color: #929292; } }
  .burger i {
    font-size: 1.5em;
    display: none; }
    @media (min-width: 1100px) {
      .burger i {
        font-size: 2em;
        line-height: 68px;
        padding-left: 20px; } }
    .burger i.active {
      display: inherit; }

.nav-burger {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 72px);
  transform: translateY(100%) translateZ(0);
  transition: all 1s cubic-bezier(0.4, 0.19, 0.07, 1);
  background-color: #fff;
  z-index: 3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 1100px) {
    .nav-burger {
      width: 350px;
      transform: translateY(0) translateX(-100%) translateZ(0); } }
  .nav-burger.open {
    transform: translateY(0%) translateZ(0);
    transition: all 1s 0.3s cubic-bezier(0.4, 0.19, 0.07, 1); }
    @media (min-width: 1100px) {
      .nav-burger.open {
        transform: translateY(0) translateX(0) translateZ(0); } }
  .nav-burger > ul {
    padding: 15px; }
    .nav-burger > ul li {
      list-style: none;
      overflow: hidden; }
      .nav-burger > ul li h3 {
        display: flex;
        font-weight: 600;
        align-items: center;
        padding: 5px 0;
        cursor: pointer; }
        .nav-burger > ul li h3 i {
          pointer-events: none;
          padding-right: 0.625em;
          transition: 0.3s linear; }
      .nav-burger > ul li ul {
        max-height: 0;
        transition: max-height 0.5s cubic-bezier(0.4, 0.19, 0.07, 1); }
        .nav-burger > ul li ul li {
          padding: 5px 33px; }
          .nav-burger > ul li ul li:first-child {
            padding-top: 10px; }
          .nav-burger > ul li ul li:last-child {
            padding-bottom: 15px; }
          .nav-burger > ul li ul li a {
            text-decoration: none;
            color: #252525; }
            .nav-burger > ul li ul li a:hover {
              color: #929292; }
      .nav-burger > ul li.active h3 i {
        transform: rotate(180deg);
        padding-right: 0;
        padding-left: 0.625em; }
      .nav-burger > ul li.active ul {
        overflow: hidden;
        height: auto;
        max-height: 600px; }
  .nav-burger .nav-contact {
    text-align: center;
    border-top: 1px solid #efefef;
    margin-bottom: 90px;
    z-index: 0; }
    @media (min-width: 1100px) {
      .nav-burger .nav-contact {
        margin-bottom: 40px; } }
    .nav-burger .nav-contact h3 {
      display: block;
      padding: 15px;
      cursor: auto; }
      @media (min-width: 1100px) {
        .nav-burger .nav-contact h3 {
          text-transform: uppercase;
          font-weight: 600; } }
    .nav-burger .nav-contact p {
      padding: 10px 0; }
      .nav-burger .nav-contact p.strong {
        padding: 0; }
        .nav-burger .nav-contact p.strong i {
          padding-right: 10px; }

.slider {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }
  .slider .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 10px solid white;
    overflow: hidden; }
    .slider .container img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%; }
      @media (min-width: 1500px) {
        .slider .container img {
          height: auto;
          width: 100%; } }
    .slider .container h1 {
      position: absolute;
      left: 0;
      bottom: 10%;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 800;
      color: white;
      text-align: center; }
  @media (min-width: 1100px) {
    .slider {
      width: 100%;
      height: 500px;
      border: none;
      margin-top: 139px;
      background-image: linear-gradient(white 70%, #efefef 30%); }
      .slider .container {
        height: 500px;
        border: none; }
        .slider .container h1 {
          width: 30%;
          left: 100px;
          bottom: 50%;
          transform: translateY(50%);
          text-align: left; } }

.about {
  background-color: #efefef;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 100vh; }
  .about .container {
    text-align: center; }
    .about .container h2 {
      text-transform: uppercase;
      padding-bottom: 20px;
      border-bottom: 1px solid #252525; }
    .about .container p {
      padding-top: 20px; }
    @media (min-width: 1100px) {
      .about .container {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .about .container h2 {
          border-bottom: none;
          padding-right: 80px;
          padding-left: 80px; }
        .about .container p {
          border-left: 1px solid #252525;
          padding-left: 80px;
          text-align: left; } }
  @media (min-width: 1100px) {
    .about {
      margin-top: 500px; } }

.inspirations {
  background-color: white;
  padding: 80px 0; }
  .inspirations .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 30px 15px;
    position: relative; }
    @media (min-width: 1100px) {
      .inspirations .container {
        grid-template-columns: repeat(3, 1fr); }
        .inspirations .container .w-1 {
          grid-column: span 1; }
        .inspirations .container .w-2 {
          grid-column: span 2; }
        .inspirations .container .h-2 {
          grid-row: span 2; } }
  .inspirations .gallery-item {
    width: 100%;
    height: 100%;
    position: relative; }
    .inspirations .gallery-item .image {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .inspirations .gallery-item .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        cursor: pointer;
        transition: 0.5s ease-in-out; }
    .inspirations .gallery-item .text {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #fff;
      color: #252525;
      padding: 10px;
      pointer-events: none;
      width: 100%;
      z-index: 2;
      display: flex;
      justify-content: space-between; }
      .inspirations .gallery-item .text p:first-child {
        text-transform: uppercase; }
    .inspirations .gallery-item:hover .image img {
      transform: scale(1.5); }

@keyframes move-down {
  0% {
    top: 10%; }
  50% {
    top: 30%; }
  100% {
    top: 50%; } }
  .inspirations h2 {
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center; }

.text__block {
  background-color: #efefef;
  text-align: center;
  padding: 80px 0; }
  .text__block h2 {
    padding-bottom: 40px;
    line-height: 1.3; }

.cards {
  background-color: #fff;
  padding: 40px 0; }
  @media (min-width: 1100px) {
    .cards {
      padding: 80px 0; } }
  .cards .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    @media (min-width: 1100px) {
      .cards .container {
        flex-direction: row; } }
    .cards .container .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0; }
      .cards .container .card i {
        font-size: 4em; }
      .cards .container .card h2 {
        padding-top: 20px; }

footer {
  background-color: #252525;
  color: #efefef;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }
  footer a {
    color: #efefef; }
  @media (min-width: 1100px) {
    footer {
      flex-direction: row;
      align-items: flex-start;
      text-align: left; } }
  footer .address img {
    width: 75%; }
  footer .address ul {
    padding-top: 10px; }
    footer .address ul li {
      list-style: none;
      padding: 3px 0; }
  footer .follow__us {
    padding: 20px 0; }
    footer .follow__us p {
      font-weight: 600;
      padding-bottom: 10px; }
    footer .follow__us i {
      padding-right: 5px; }
  footer > ul {
    padding: 20px 0; }
    footer > ul li {
      list-style: none;
      padding: 3px 0; }

.copy {
  background-color: #fff;
  color: #252525;
  text-align: center;
  padding: 5px 0 75px 0; }
  @media (min-width: 1100px) {
    .copy {
      padding: 5px 0; } }

.cookies {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 0.75em;
  font-weight: 400;
  display: none;
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  background: rgba(0, 0, 0, 0.8); }
  .cookies .cookies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .cookies .cookies-container .cookies-btn i {
      color: #fff;
      padding-left: 20px; }
      .cookies .cookies-container .cookies-btn i:hover {
        color: #929292; }
