* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

@import 'colors';
@import 'mixins';
@import 'single';
@import 'sizes';

body {
	font-family: 'Open Sans', sans-serif;
	color: $primary;
	display: grid;
	grid-template-rows: auto 1fr auto auto;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: $primary;
	transition: 0.2s linear;
	&:hover {
		color: $aHover;		
	}
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding-left: 0.625em;
	padding-right: 0.625em;
	@include media(desktop) {
		max-width: 1400px;
	}
}

.top {
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	justify-content: space-evenly;
	align-items: center;
	height: 72px;
	border-bottom: 1px solid $grey;
	z-index: 1;
	background-color: white;
	a {
		text-decoration: none;
		img {
			height: 36px;
		}
	}
	@include media(tablet) {
		justify-content: space-between;
		padding: 0 80px;
	}
}

.search {
	background-color: $grey;
	position: fixed;
	top: 72px;
	width: 100%;
	padding: 20px;
	z-index: 2;
	border-bottom: 4px solid #fff;
	transform: scale(0);
	opacity: 0;
	transition: 0.2s linear;
	&.active {
		transform: scale(1);
		opacity: 1;
	}
	.s-bar {
		margin: 0 auto;
		width: 50%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		.s-input {
			flex-basis: 100%;
			background: transparent;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 1px solid $primary;
			font-family: 'Open Sans', sans-serif;
			padding: 10px;
			text-align: center;
			outline: none;
		}
		a {
			display: block;
			text-align: center;
			border-radius: 10px;
			color: $primary;
			margin-left: 5px;
			padding: 5px 10px;
			&:hover {
				color: $aHover;
			}
		}
	}
}

nav {
	display: none;
	@include media(tablet) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding-top: 92px;
		a {
			text-transform: uppercase;
			font-weight: 400;
		}
	}
}

.burger {
	position: fixed;
	z-index: 4;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	background-color: $primary;
	padding: 15px 20px;
	color: white;
	text-align: center;
	cursor: pointer;
	@include media(tablet) {
		// padding: 34px;
		// height: 68px;
		top: 0;
		left: 0;
		transform: translate(0);
		background-color: transparent;
		color: $primary;
		width: auto;
		padding: 0;
		&:hover {
			color: $aHover;
		}
	}
	i {
		font-size: 1.5em;
		display: none;
		@include media(tablet) {
			font-size: 2em;
			line-height: 68px;
			padding-left: 20px;
		}
		&.active {
			display: inherit;
		}
	}
}

.nav-burger {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: calc(100% - 72px);
	transform: translateY(100%) translateZ(0);
	transition: all 1s cubic-bezier(0.4, 0.19, 0.07, 1);
	background-color: #fff;
	z-index: 3;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include media(tablet) {
		width: 350px;
		transform: translateY(0) translateX(-100%) translateZ(0);
	}
	&.open {
		transform: translateY(0%) translateZ(0);
		transition: all 1s 0.3s cubic-bezier(0.4, 0.19, 0.07, 1);
		@include media(tablet) {
			transform: translateY(0) translateX(0) translateZ(0);
		}
	}
	> ul {
		padding: 15px;
		li {
			list-style: none;
			overflow: hidden;
			h3 {
				display: flex;
				font-weight: 600;
				align-items: center;
				padding: 5px 0;
				cursor: pointer;
				i {
					pointer-events: none;
					padding-right: 0.625em;
					transition: 0.3s linear;
				}
			}
			ul {
				max-height: 0;
				transition: max-height 0.5s cubic-bezier(0.4, 0.19, 0.07, 1);
				li {
					&:first-child {
						padding-top: 10px;
					}
					&:last-child {
						padding-bottom: 15px;
					}
					padding: 5px 33px;
					a {
						text-decoration: none;
						color: $primary;
						&:hover {
							color: $aHover;
						}
					}
				}
			}
			&.active {
				h3 {
					i {
						transform: rotate(180deg);
						padding-right: 0;
						padding-left: 0.625em;
					}
				}
				ul {
					overflow: hidden;
					height: auto;
					max-height: 600px;
				}
			}
		}
	}
	.nav-contact {
		text-align: center;
		border-top: 1px solid $grey;
		margin-bottom: 90px;
		z-index: 0;
		@include media(tablet) {
			margin-bottom: 40px;
		}
		h3 {
			display: block;
			padding: 15px;
			cursor: auto;
			@include media(tablet) {
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		p {
			padding: 10px 0;
			&.strong {
				padding: 0;
				i {
					padding-right: 10px;
				}
			}
		}
	}
}

.slider {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	.container {
		position: relative;
		width: 100vw;
		height: 100vh;
		border: 10px solid white;
		overflow: hidden;
		img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			@include media(desktop) {
				height: auto;
				width: 100%;
			}
		}
		h1 {
			position: absolute;
			left: 0;
			bottom: 10%;
			text-transform: uppercase;
			font-style: italic;
			font-weight: 800;
			color: white;
			text-align: center;
		}
	}

	@include media(tablet) {
		width: 100%;
		height: 500px;
		border: none;
		margin-top: 139px;
		background-image: linear-gradient(white 70%, $grey 30%);
		.container {
			height: 500px;
			border: none;
			h1 {
				width: 30%;
				left: 100px;
				bottom: 50%;
				transform: translateY(50%);
				text-align: left;
			}
		}
	}
}

.about {
	background-color: $grey;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 100vh;
	.container {
		text-align: center;
		h2 {
			text-transform: uppercase;
			padding-bottom: 20px;
			border-bottom: 1px solid $primary;
		}
		p {
			padding-top: 20px;
		}
		@include media(tablet) {
			display: flex;
			justify-content: space-around;
			align-items: center;
			h2 {
				border-bottom: none;
				padding-right: 80px;
				padding-left: 80px;
			}
			p {
				border-left: 1px solid $primary;
				padding-left: 80px;
				text-align: left;
			}
		}
	}
	@include media(tablet) {
		margin-top: 500px;
	}
}

.inspirations {
	background-color: white;
	padding: 80px 0;
	.container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: 300px;
		grid-gap: 30px 15px;
		position: relative;
		@include media(tablet) {
			grid-template-columns: repeat(3, 1fr);
			.w-1 {
				grid-column: span 1;
			}
			.w-2 {
				grid-column: span 2;
			}

			.h-2 {
				grid-row: span 2;
			}
		}
	}
	.gallery-item {
		width: 100%;
		height: 100%;
		position: relative;
		.image {
			width: 100%;
			height: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 50% 50%;
				cursor: pointer;
				transition: 0.5s ease-in-out;
			}
		}
		.text {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #fff;
			color: $primary;
			padding: 10px;
			pointer-events: none;
			width:100%;
			z-index: 2;
			display: flex;
			justify-content: space-between;							
			p {
				&:first-child {
					text-transform: uppercase;
				}
			}
		}
		&:hover {
			.image {
				img {
					transform: scale(1.5);
				}
			}
		}
	}

	@keyframes move-down {
		0% {
			top: 10%;
		}
		50% {
			top: 30%;
		}
		100% {
			top: 50%;
		}
	}

	h2 {
		position: absolute;
		width: 100%;
		height: 100px;
		text-align: center;
	}
}

.text__block {
	background-color: $grey;
	text-align: center;
	padding: 80px 0;
	h2 {
		padding-bottom: 40px;
		line-height: 1.3;
	}
}

.cards {
	background-color: #fff;
	padding: 40px 0;
	@include media(tablet) {
		padding: 80px 0;
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		@include media(tablet) {
			flex-direction: row;
		}
		.card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 40px 0;
			i {
				font-size: 4em;
			}
			h2 {
				padding-top: 20px;
			}
		}
	}
}

footer {
	background-color: $primary;
	color: $grey;
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	a {
		color: $grey;
	}
	@include media(tablet) {
		flex-direction: row;
		align-items: flex-start;
		text-align: left;
	}
	.address {
		img {
			width: 75%;
		}
		ul {
			padding-top: 10px;
			li {
				list-style: none;
				padding: 3px 0;
			}
		}
	}
	.follow__us {
		padding: 20px 0;
		p {
			font-weight: 600;
			padding-bottom: 10px;
		}
		i {
			padding-right: 5px;
		}
	}
	> ul {
		padding: 20px 0;
		li {
			list-style: none;
			padding: 3px 0;
		}
	}
}
.copy {
	background-color: #fff;
	color: $primary;
	text-align: center;
	padding: 5px 0 75px 0;
	@include media(tablet) {
		padding: 5px 0;
	}
}

.cookies {
	position: fixed;
	z-index: 3;
	left: 0;
	bottom: 0;
	font-size: $small;
	font-weight: 400;
	display: none;
	color: white;
	text-align: center;
	width: 100%;
	padding: 20px 10px;
	background: rgba($color: #000, $alpha: 0.8);
	.cookies-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.cookies-btn {
			i {
				color: #fff;
				padding-left: 20px;
				&:hover {
					color: $aHover;
				}
			}
		}
	}
}
